      <div class="panel panel-default">
          <div class="panel-heading">
               <h4>Portfolio  </h4>
           </div>
             <div class="panel-body">
                          
            <div class="row no-gutter vspace">
                
               <div class="col-xs-12">
               <table class="table table-responsive table-striped table-hover">
                <thead>
                  <tr>
                     <th>Rec.</th>
                     <th>Name </th>
                      <th>Type </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    
                  </tr>
                </thead>
                
                <tbody>
                  <tr ng-repeat="dataRec in data">
                     <td>{{ $index + 1 }}</td>
                    <td>{{ dataRec.name }}</td>
                    <td>{{ dataRec.type.name }}</td>
                    <th><a href="javascript:void(0)" ng-click="viewdetails(dataRec.traceid )">View details</a></th>
                    <td><a class ="btn btn-warning" href="javascript:void(0)" ng-click="addunits(dataRec)">Add Units </a> 

                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
            
                         </div> 
                        
                           
                 </div>  
            

                </div>